.grid {
    display: grid;
    background-color: blue;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    align-content: center;
}

.grid>div {
    padding: 20px;
    background-color: white;
    border: 5px;
    border-color: blue;
    text-align: center;
}

.masonry1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.responsive {
    grid-column: 2/3;
    grid-row: 1/2;
}

.overlap {
    grid-column: 3/5;
    grid-row: 1/2;
}

.fluid {
    grid-column: 2/3;
    grid-row: 2/3;
}

.explicity-placed {
    grid-column: 3/4;
    grid-row: 2/4;
}

.negative-space {
    grid-column: 4/5;
    grid-row: 2/3;

}

.flexible-breadth {
    grid-column: 1/2;
    grid-row: 3/4;
}

.masonry2 {
    grid-column: 2/3;
    grid-row: 3/5;
}

.masonry3 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.dom-order {
    grid-column: 1/2;
    grid-row: 4/5;
}

.named-tracks {
    grid-column: 3/5;
    grid-row: 4/5;
}